<h1>The list of animals are: </h1>

<% animals.forEach(function(animal) { %>
  <li><%= animal %> - <%= sounds[animal] %></li>
<% }); %> 

<form action="/newanimal" method="POST">
  <input type="text" name="newanimal" placeholder="Animal Name"></input>
  <input type="text" name="newsound" placeholder="Sound Name"></input>
  <button>New Animal</button>
</form>